---
layout: full-width
title: "Publications"
permalink: /publications/
author_profile: false
---

<div class="balanced-content-container">

{% include base_path %}

<div class="publications">
  <!-- Conference Papers Section -->
  <h2>Conference Papers</h2>
  <hr class="black-divider" />
  
  {% for post in site.publications reversed %}
    {% if post.category == "conferences" %}
      {% include archive-single.html %}
    {% endif %}
  {% endfor %}
  
  <!-- Journal Papers Section -->
  <h2>Journal Papers</h2>
  <hr class="black-divider" />
  
  <div class="list__item full-width-item">
    <article class="archive__item full-width-content" itemscope itemtype="http://schema.org/CreativeWork">
      <h2 class="archive__item-title" itemprop="headline">
        Hello World
      </h2>
      <div class="publication-meta">Published in <i>arXiv preprint</i>, 2025</div>
      <div class="publication-authors">Ryan Sungmo Kwon</div>
      <div class="paper-link">
        <a href="#">Paper</a> | <a href="#">Code</a> | <a href="#">Model</a>
      </div>
    </article>
  </div>
</div>
</div>



